body{
	margin: 0;
}
.container{
	width: 100vw;
	height: 100vh;
	background-color: #eff3f5;
	display: flex;
	flex-direction: column;
}
header{
	width: 100%;
	height: 80px;
	background-color: white;
	margin-bottom: 30px;
	flex-shrink: 0;
	/* 弹性元素设置高度且不随着屏幕变化而压缩 */
	display: flex;
	justify-content: space-between;
}
header .logo{
	width: 200px;
	height: 80px;
	/* background-color: pink; */
	font-size: 26px;
	color: #666;
	font-weight: bold;
	line-height: 80px;
	margin-left: 35px;
}
header .login{
	height: 80px;
	width: 100px;
	/* background-color: tomato; */
	display: flex;
	align-items: center;
	/* 三个元素同行显示，侧轴居中可以让三个元素对齐 */
	margin-right: 35px;
}
header .login .user{
	margin: 0 15px 0 10px;
}
header .login .user p{
	font-size: 14px;
	color: #333;
}
header .login .user span{
	font-size: 12px;
	color: #666;
}
main{
	flex-basis: 100%;
	flex-grow: 1;
	/* 弹性元素撑满剩下的部分 */
	/* background-color: pink; */
	display: flex;
	overflow: hidden;
}
aside{
	width: 250px;
	background-color: white;
	flex-shrink: 0;
	margin-right: 30px;
	border-top-right-radius: 10px;
}
main aside nav ul{
	list-style: none;
}
main aside nav ul li{
	/* height: 60px; */
	/* border: 1px solid red; */
}
main aside >nav >ul >li >a{
	display: block;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	box-sizing: border-box;
	text-decoration: none;
}
main aside >nav >ul >li >a::before{
	content: "";
	display: block;
	width: 20px;
	height: 21px;
	border: 1px solid blue;
	background-image: url();
}
main aside >nav >ul >li >a::after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border: 1px solid pink;
	background-image: url();
}
article{
	flex-grow: 1;
	background-color: white;
	overflow-y: scroll;
	border-top-left-radius: 10px;
}
main aside >nav >ul >li >a span{
	width: 120px;
	display: block;
	font-size: 18px;
	color: #666;
}
main aside nav ul li .nav2{
	padding-left: 13px;
	display: none;
}
main aside nav ul li:hover .nav2{
	display: block;
}
main aside nav ul li:first-child:hover a::after{
	background-position: 0px 0px;
	/* 第一个li鼠标hover的时候图标无变化 */
}
main aside nav ul li:hover a::after{
	background-position: -8px 0px;
	/* 第二个和第三个li鼠标hover的时候图标无变化 */
}

main aside nav ul li .nav2 ul li{
	height: 54px;
	/* border: 1px solid red; */
	padding-left: 60px;
}
main aside nav ul li .nav2 ul li a{
	color: #666;
	font-size: 18px;
	text-decoration: none;
	line-height: 54px;
}

main aside nav ul li .nav2 ul li:hover{
	background-color: blue;
	border-radius: 27px 0 0px 27px;
}
main aside nav ul li .nav2 ul li a:hover{
	color: white;
}
main article{
	padding: 40px;
}
main article .header{
	height: 200px;
	background-color: #f5f7fa;
	padding: 20px 60px;
}
main article .header .group{
	font-size: 16px;
	color: #666;
	font-weight: bold;
	margin-right: 40px;
}
main article .header .group input{
	width: 210px;
	height: 40px;
	border: 0px;
	background-color: white;
	border-radius: 20px;
	padding: 0 20px;
	box-sizing: border-box;
}
main article .header .group input ::placeholder{
	font-size: 16px;
	color: #666;
	font-weight: bold;
}
input:focus{
	outline: none;
}
main article .header .wrapper{
	display: flex;
	margin-bottom: 30px;
}
main article .header .group select{
	width: 210px;
	height: 40px;
	border-radius: 20px;
	border: 0px;
	font-size: 16px;
	color: #666;
	font-weight: bold;
	padding: 0 20px;
	box-sizing: border-box;
	appearance: none;/* 取消下拉列表的默认图标 */
	background-image: url();
	background-repeat: no-repeat;
	background-position: 180px 20px;
}
main article .header .btn-group{
	display: flex;
	justify-content: center;
}
main article .header .btn-group .btn{
	padding: 12px 20px;
	border: 1px solid blue;
	background-color: transparent;
	font-size: 16px;
	color: blue;
	border-radius: 4px;
	margin: 0 10px;
}
main article .header .btn-group .btn-blue{
	background-color: blue;
	color: white;
}