body{
	margin: 0;
	background-color: #f4f4f4;
}
.fdel::after{
	content: "";
	display: block;
	clear: both;
}
.topbar{
	width: 100%;
	/* height: 50px; */
	/* border: 1px solid red; */
	background-color: black;
}
.topbar .logo{
	float: left;
	height: 50px;
}
.topbar .logo img{
	width: 90px;
	margin-top: 10px;
	margin-left: 20px;
}
.topbar .nav{
	float: right;
	/* margin-right: 20px; */
	
}
.topbar .nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	
}
.topbar .nav ul li{
	height: 50px;
	display: inline-block;
	color: white;
	font-size: 12px;
	padding-top: 15px;
	padding-left: 20px;
	margin-left: 10px;
	box-sizing: border-box;
}
.topbar .nav ul li.last{
	background-color: #2f2f2f;
	padding-right: 20px;
}

.topbar .nav ul li a{
	text-decoration: none;
	color: #9b9b9b;
}
.topbar .nav ul li a:hover{
	color: white;
}
.banner{
	width: 100%;
	height: 400px;
	background-image: url();
}
.midbar{
	height: 50px;
	width: 100%;
	border: 1px solid white;
	background-color: white;
}
.midbar > ul{
	list-style: none;
	text-align: center;
}

.midbar > ul > li{
	display: inline-block;
	border-right:1px solid #e8e8e8 ;
	padding: 0px 20px;
	font-size: 15px;
	position: relative;
	/* box-sizing: border-box; */
}

.midbar > ul > li > a{
	text-decoration: none;
	color: #69696d;
}
.midbar > ul > li > i{
	color: #69696d;
}
.midbar >ul > li.special{
	border: none;
}
.midbar >ul > li ul{
	/* display: block;
	width: 2100px;
	height: 100px;
	background-color: aqua;
	position: absolute;
	top: 35px;
	left: -296px; */
	display: none;
}

.midbar > ul > li:hover ul.item2{
	display: block;
	width: 1400px;
	height: 100px;
	background-color: aqua;
	position: absolute;
	top: 35px;
	left: -296px;
	z-index: 3;
}
.midbar > ul > li:hover ul.item4{
	display: block;
	width: 800px;
	height: 100px;
	background-color: aqua;
	position: absolute;
	top: 35px;
	left: -296px;
	z-index: 3;
}
.midbar >ul > li ul li{
	display: inline-block;
	text-decoration: none;
	
}
.content{
	width: 100%;
	height: 200px;
	background-color: red;
}